

/*  Pricing page    */
.container div {

    margin:105px 0;
}
.container div div {
    display: grid;
    grid-template-columns: 50% 50%;
    margin:15px 0;
}
.pricing{
    padding:100px 25%;
    border-top:1px solid #000000;
}