
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap');

/*   General      */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    background: rgba(226,226,226,0.49);
}


h1{
    text-align: center;
    margin-top:50px;
    font-size: 46px;
}

/*  Buttons & links  */
a {text-decoration: none;color: #000000;}
.btn{
    border:1px solid #000000;
    background: #ffffff;
    padding:7px 10px;
    border-radius: 3px;
}
.btn:hover{
    background: rgba(252, 249, 249, 0.79);
    cursor:pointer;
}

.table-btn{
    display: flex;
}
.table-btn a {
    margin:0 2px;
    padding:5px 7px;
}
.side-btn{
    padding:5px 7px;
    margin:5px 2px;
}




/*  General Layout  */
.main{
    width:80%;
    margin: 100px auto;
}
.container{
    background: #ffffff;
    padding:25px 25px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
/*     general Table   */
table{
    width:100%;
    border-collapse: collapse;
    margin:25px 0;
}
th{
    padding:10px 2px;
    background: cadetblue;
    border:1px solid #000000;
}
td{
    border:1px dotted #000000;
    text-align: center;
    padding:7px 5px;
    background: rgba(252, 249, 249, 0.79);
    height:45px;
}

/*  Update  Input Fields    */

.update td input{
    display: block;
    width:100%;
    height:100%;
    border:none;
    padding-left:10px;
}
 input:focus{
    outline:none;
}
.update td {
    padding:0;
}

/*    Confirm Booking  */
.detail{
    background: rgba(225,225,225,0.65);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 25px;
    margin:50px 25px;
    padding:75px 50px 50px 50px;
}
 #personal-info, #motor-info {
     display: grid;
     grid-gap: 15px;
     grid-template-columns: 45%  50%;
     font-size: 22px;
     font-family: 'Open Sans Condensed', sans-serif;
}

.detail p, .detail span {
    border-bottom:1px dotted #000000;
    margin-bottom: 5px;
    height:35px;
    letter-spacing: 1px;

}
.detail span{font-weight: bold;text-align: center; background: #fff; border:1px solid #a0a0a0;  box-shadow: 0 2px 2px rgba(0,0,0,0.1);}
#motor-info{height:60%;}
.form{
    margin:0 25px 50px 25px;
    letter-spacing: 1px;
    background: rgba(225,225,225,0.65);
    padding:75px 50px 50px 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    border:1px solid #c7c7c7;

}
.form div{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    margin:15px 0 0 0;
}

.location input{
    display: block;
    width:150%;
    height: 35px;
    font-size: 18px;
}
.location input:nth-child(2){
    width:50%;
    margin-left:120px;

}
.form label{
    border-bottom:1px dotted #000000;
}
.form input{
    padding-left:15px;
    font-size: 20px;
}
#confirm-btn{
    position:relative;
    left:184%;
    margin-top:25px;
    width:100px;
}
#confirm-footer{
    margin:25px 0;


}



/*  Owner Front page hero section   */
.info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0 25px;
    column-gap: 50px;
}
.info {
    font-size: 20px;
    margin:75px 0;
}
.info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 25px;
    border-bottom:1px solid #000000;
    padding-bottom:5px;
}
.info div strong{
    text-align: center;
}

/*  Menu Bar    */
.menu-btn{
    color:#000000;
    font-size: 20px;
}
#return-btn{
    position:absolute;
    top:150px;
}
#return-btn:hover{
    color:#000000;

}
#return-admin:hover{
    color:#fff;
    border:none;
}
.menu-bar div a:hover, .front a:hover{
    color:#fff;
    border-bottom:3px solid #fff;
}
.menu-bar  {
    border-radius: 5px;
    background: cadetblue;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    height:75px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.menu-bar div a , .front a{
    margin:0 -2px;
    padding:5px 7px;
    display: inline-block;
    width:100px;
}
.menu-bar div:nth-child(2) a, .front a{
    border-right:1px solid #000000;
}
.menu-bar div:nth-child(2) a:first-child, .front a:first-child{
    border-left:1px solid #000000;
}
#main-page{
    color:#ffffff;
    border-bottom:3px solid #ffffff;
}
.front{
    justify-content:center;
    margin:0;
}
.front a {
    width:150px;
}



/*  Invoice */

.invoice-page{
    background: rgba(225,225,225,0.65);
    border:1px solid red;
    width:80%;
    margin:5px auto;
    padding:50px;
    display: grid;
    grid-template-columns: 60% 35%;
    grid-column-gap: 5%;
    grid-row-gap: 5px;
    align-items: center;

}
.invoice-page label{
    border-bottom:1px dotted #000000;
    padding:10px 0;


}

.invoice-info{
    background: white;
    padding:10px 10px;
    text-align: center;
    border:1px solid #8b8b8b;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);

}
.invoice-info, .invoice-page label{
    height:35px;
    font-size: 18px ;
}
