<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Booking</title>
    <link rel = "stylesheet" th:href = "@{/styles.css}">
</head>
<body>

    <h1>Bookings</h1>
    <div class ="main">
        <a id="return-btn" class = "btn" href = "/bookings">Return</a>
        <div class = "container">
            <table>
                <thead>
                    <tr>
                        <th>Renter ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile Number</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each = "Renter: ${renter}" >
                        <td th:text = "${Renter.renter_ID}"></td>
                        <td th:text = "${Renter.getFirst_name}"></td>
                        <td th:text = "${Renter.getLast_name}"></td>
                        <td th:text = "${Renter.getMobile_number}"></td>
                        <td th:text = "${Renter.getEmail()}"></td>
                        <td><a class = "btn" th:href = "@{'/pickRenter/'+${Renter.renter_ID}}">Pick Renter</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>