<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Available Renter</title>
    <link rel = "stylesheet" th:href = "@{/styles.css}">
</head>
<body>

      <h2 style = "text-align: center; margin:100px 0; font-size: 36px">All Available Customers Are Booked</h2>
      <div style = "text-align: center; ">
        <a style = "margin-right:20px;" class ="btn" href = "/bookings">Return To Booking</a>
        <a class = "btn" href = "/">Home Page</a>
      </div>

</body>
</html>