<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <link rel = "stylesheet"th:href = "@{/styles.css}">
</head>
<body>
    <h1>Invoice</h1>
    <div class = "main">
        <a class ="btn" id = "return-btn" href = "/bookings">Return</a>
        <div class = "container" style = "height:300px;">
            <p style = "margin-top:50px;text-align: center;font-size: 36px;">No Existing invoice</p>
            <button style="margin-top:100px;width:150px;height:35px;font-size: 17px; float:right;"><a href = "#">Generate Invoice</a></button>
        </div>
    </div>

</body>
</html>