<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
  <link rel = "stylesheet" th:href = "@{/styles.css}">
</head>
<body>
        <h1>Nordic Motorhome</h1>
        <div class = "main">
          <div class = "menu-bar">
            <div>
              <a id = "return-admin" class = "menu-btn" href = "/admin">Return</a>
              </div>
                <div>
                  <a class = "menu-btn" href = "#">Staff</a>
                  <a class = "menu-btn" href = "#">Cars</a>
                  <a class = "menu-btn" href = "/adminRenter">Renters</a>
                  <a id = "main-page" class = "menu-btn" href = "#">Bookings</a>
                  <a class = "menu-btn" href = "/adminPricing">Pricing</a>
                </div>
              </div>
            <div class = "container">
                <h1>No Cars Available for booking </h1>
          </div>
        </div>
</body>
</html>