<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel = "stylesheet" th:href = "@{/styles.css}">
</head>
<body>
<h1>Nordic Motorhome</h1>
    <a style="left:50px; top:50px;" id="return-btn" class = "btn" href = "/">Return</a>
    <div class = "main">


        <div class = "menu-bar front">
            <a class = "menu-btn" href = "/adminBooking">Bookings</a>
            <a class = "menu-btn" href = "/adminInvoice">Invoices</a>
            <a class = "menu-btn" href = "/adminPricing">Pricing</a>
        </div>
        <div class ="container">

            <div class = "info-container">
                <div class = "info">
                    <div><p>Registered Customers</p><strong th:text = "${renterCount}"></strong></div>
                    <div><p>Active Bookings</p> <strong th:text = "${bookingCount}"></strong></div>
                    <div><p>Total Motorhomes</p><strong th:text = "${motorCount}"></strong> </div>
                    <div><p>Available Motorhomes </p><strong th:text = "${motorCount}-${bookingCount}" ></strong></div>
                    <div><p>Employed Staff</p><strong th:text = "${staffCount}" ></strong> </div>
                </div>
                <div class = "info">
                    <div><p>Rentals in total for the year</p></div>
                    <div><p>Current season</p><strong th:text = "${seasonName}"></strong></div>
                    <div><p>Season Percent</p><strong th:text = "${pricePercent}"></strong></div>
                    <div><p>Base Price</p><strong th:text = "${price.basePrice}"></strong></div>
                    <div><p>Base Price</p><strong th:text = "${price.extraPrice}"></strong></div>
                    <div><p>Km Fee</p><strong th:text = "${price.kmFee}"></strong></div>
                    <div><p>Fuel Fee</p><strong th:text = "${price.fuelFee}"></strong></div>
                    <div><p>Collect Fee</p><strong th:text = "${price.collectFee}"></strong></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>