<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing</title>
    <link rel = "stylesheet" th:href = "@{/styles.css}">
    <link rel = "stylesheet" th:href = "@{/adminStyle.css}">
</head>
<body>
    <div class ="main">
        <div class = "menu-bar">
            <div>
                <a id = "return-btn" class = "menu-btn" href = "/owner">Return</a>
            </div>
            <div>
                <a class = "menu-btn" href = "#">Staff</a>
                <a class = "menu-btn" href = "#">Cars</a>
                <a class = "menu-btn" href = "/adminRenter">Renters</a>
                <a class = "menu-btn" href = "/adminBooking">Bookings</a>
                <a id = "main-page" class = "menu-btn" href = "/adminPricing">Pricing</a>
            </div>
        </div>
        <div class = "container">
            <div>Season
                <table>
                    <thead>
                        <tr>

                            <th>Season Name</th>
                            <th>Season Period From</th>
                            <th>Season Period To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>BasePrice & Extra Price</div>
        </div>
    </div>
</body>
</html>