<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel = "stylesheet" href="../../../static/style.css" th:href="@{/style.css}">
</head>
<body>

      <div id="menu2">
          <a href = "/renter" class = "button2">Renters</a>
          <a href = "/motorhomes" class = "button2">Motorhomes</a>
          <a href ="/bookings" class = "button2">Bookings</a>
      </div>

      <div class = "hero">
        <a class = "btn" id = "add-btn"  th:href = "@{'/addRenter/'}">Add</a>
        <table>
          <thead>
          <tr>
            <th>Renter ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Mobile Number</th>
            <th>Email</th>
            <th>Address Street</th>
            <th>Address Zip</th>
            <th>Address City</th>
            <th>DLN</th>
            <th>Driver Since Date</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr th:each = "Renter: ${renters}">
              <td th:text = "${Renter.renter_ID}"></td>
              <td th:text = "${Renter.first_name}"></td>
              <td th:text = "${Renter.last_name}"></td>
              <td th:text = "${Renter.mobile_number}"></td>
              <td th:text = "${Renter.email}"></td>
              <td th:text = "${Renter.address_street}"></td>
              <td th:text = "${Renter.address_zip}"></td>
              <td th:text = "${Renter.address_city}"></td>
              <td th:text = "${Renter.DLN}"></td>
              <td th:text = "${Renter.driversince_date}"></td>
            <td>
              <div class = "table-btn">
                <!--<a class = "side-btn" th:href = "@{}">Update</a>
                <a class = "side-btn" th:href = "@{}">Delete</a>-->
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

</body>
</html>