<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Renters</title>
  <link rel = "stylesheet"  th:href="@{/styles.css}">
</head>
<body>

    <h1>Renters</h1>
    <div class = "main">
      <a id="return-btn" class = "btn" href = "/">Return</a>
      <div class = "container">
          <a class = "btn" id = "add-btn"  th:href = "@{'/addRenter/'}">Add</a>
          <table>
            <thead>
            <tr>
              <th>Renter ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Mobile Number</th>
              <th>Email</th>
              <th>Address Street</th>
              <th>Address Zip</th>
              <th>Address City</th>
              <th>DLN</th>
              <th>Driver Since Date</th>
              <th></th>
            </tr>
          </thead>
            <tbody>
            <tr th:each = "Renter: ${renters}">
              <td th:text = "${Renter.getRenter_ID()}"></td>
              <td th:text = "${Renter.getFirst_name()}"></td>
              <td th:text = "${Renter.getLast_name()}"></td>
              <td th:text = "${Renter.getMobile_number()}"></td>
              <td th:text = "${Renter.getEmail()}"></td>
              <td th:text = "${Renter.getAddress_street()}"></td>
              <td th:text = "${Renter.getAddress_zip()}"></td>
              <td th:text = "${Renter.getAddress_city()}"></td>
              <td th:text = "${Renter.getDLN()}"></td>
              <td th:text = "${Renter.getDriversince_date()}"></td>
            <td>
              <div class = "table-btn">
                <a class = "btn side-btn" th:href = "@{'/updateRenter/'+${Renter.getRenter_ID()}}">Update</a>
                <a class = "btn side-btn" th:href = "@{'/deleteRenter/'+${Renter.getRenter_ID()}}">Delete</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

</body>
</html>